[user]
        name = Victor Fleury
        email = vfleury@rodeofx.com
[color]
        diff = auto
        status = auto
        branch = auto
        interactive = auto
[core]
        editor = nvim
        excludesfile = /home/victor/.gitignore
[help]
        autocorrect = 10
[safe]
	directory = /mnt/vfleury/rdoenv/rdo_animreview_core
	directory = /mnt/vfleury/rdoenv/rdo_animation_publisher
[rerere]
	enabled = true

